header {
  padding: 5px;
}

.website-name {
  font-family: Roboto, Arial;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(49, 37, 37);
}

header img {
  width: 69px;
  height: 70px;
  border: 2px solid pink;
  border-radius: 35px;
}

.icon-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  --padding: 8px;

  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background-color: #f6f6f6;
  /* margin-right: 100px;
  margin-left: 70px; */
}

.search-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
  max-width: 300px;
}

.search-input::placeholder
.search-icon {
  color: rgba(0, 0, 0, 0.25);
}

.header-nav {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

* {
    box-sizing: border-box;
}

.site-header-link-primary {
  font-size: 1.44em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 3px;
  padding-left: 25px;
}

.site-header-link-primary:hover {
  color: antiquewhite;
}

.site-header-link-primary:active {
  font-size: 18px;
}

.site-header-link {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 410px) {
  .home {
    display: none;
  }
}

@media screen and (max-width: 328px) {
  form {
    display: none;
  }
}