main {
  background-color: whitesmoke;
  min-height: 55vh;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}

h1 {
  color: rgb(0, 0, 170);
  font-size: 30px;
}

h2 {
  color: rgb(0, 80, 0);
}

h3 {
  color: firebrick;
}

#introduction a {
  margin: 10px;
}
#introduction a:link {
  text-decoration: none;
  font-size: 20px;
}

main img {
  width: 200px;
  height: 180px;
}

figure p {
  display: inline-block;
}

dl figure {
  margin-left: -10px;
}

.spaced-list li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.articles-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.articles-flex p {
  display: inline-block;
  margin: 10px;
  background-color: rgb(234, 234, 234);
}

.articles-flex a {
  text-decoration: none;
  font-size: 20px;
}